@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #22254b;
    font-family: 'Poppins', sans-serif;
}

#page {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        "head head head"
        "nav main main";
}

#page > header{
    grid-area: head;
    max-width: 100vw;
}

#page > main{
    grid-area: main;
    max-width: 100vw;
}

#page > .navigation{
    grid-area: nav;
    max-width: 100vw;
}


/* Header */

.header{
    background-color: #373b69;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.logo{
    width: 45px;
    height: 45px;
    user-select: none;
}

.search{
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
}

.search::placeholder{
    color: #fff;
}

.search:focus{
    outline: none;
    background-color: #22254b;
}

.menu{
    height: 30px;
    width: 30px;
    user-select: none;
    display: none;
    z-index: 1001;
    /* cursor: pointer; */
}

.menu-elements{
    display: none;
    flex-direction: column;
    background-color: #1d2040; 
    width: 70%;
    position: absolute; 
    top: 100%; 
    right: 0;
    z-index: 1001;
}

.menu-elements.active{
    display: flex;
}

.menu-elements.animate__fadeIn{
    display: block;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

.overlay.active{
    display: block;
}

/* Navigation */

.navigation{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    box-shadow: 5px 10px 13px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.filters, .filters1{
    padding: 10px;
    background-color: #131531;
    border-radius: 8px;
}

.filters-container h2{
    margin-bottom: 15px;
}

.filter{
    margin-bottom: 15px;
}

.filter h3, .actor-container h3{
    margin-bottom: 10px;
}

.filter-input, .filter-checkbox, .actor-input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.filter-checkbox{
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.filter-checkbox + label{
    display: inline-block;
    padding-right: 15px;
}

.genre{
    border: 1px solid #373b69;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.4s ease-in;
}

.genre img{
    width: 40px;
    height: 40px;
}

.genre.selected{
    background-color: #090088;
}

.genre:hover{
    text-shadow: 
                0 0 3px #8a00b0,
                0 0 7px #8a00b0,
                0 0 10px #8a00b0,
                0 0 20px #9b00ff,
                0 0 30px #9b00ff;
    text-decoration: underline;
}


/* Main */

.main{
    color: #fff;
}

.movie{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.movie img{
    max-width: 100%;
}

.movie-tile{
    background-color: #373b69;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.movie-back{
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    background-color: #373b69;
    opacity: 0.9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s ease-in;
}

.movie-tile:hover .movie-back{
    transform: translateY(0);
}

.overView{
    padding-bottom: 30px;
    letter-spacing: 1.2px;
}

.overView::selection{
    background-color: rgba(153, 102, 255, 0.8);
}

.buttonMovie{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 25px;
    user-select: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.buttonMovie::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: green;
    /* background-color: rgba(255, 255, 255, 0.3); */
    transition: width 0.3s ease;
    z-index: -1;
}

.buttonMovie:hover::before{
    width: 100%;
}

.buttonMovie{
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.movie-front h3, .movie-front span, .movie-front small{
    margin: 5px 0;
}

.movie-info{
    color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.rating{
    color: #fff;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    text-align: center;
}

.good-rating{
    background-color: green;
}

.average-rating{
    background-color: orange;
}

.bad-rating{
    background-color: red;
}


/* Movie profile */

.caption-div{
    display: flex;
    color: #fff;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
}

.poster{
    max-width: 25%;
}

.main-text{
    padding: 20px;
    width: 75%;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.slogan{
    padding-top: 8px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
}

.rate-container{
    text-align: center;
}

.rate-container p{
    padding-top: 8px;
    border-bottom: 2px solid green;   
}

.text-container{
    padding-top: 20px;
    padding-left: 185px;
    position: relative;
    letter-spacing: 1.2px;
}

.text-container-info{
    position: absolute;
    left: 0;
}

.overview-main-page{
    padding: 30px 10px;
    letter-spacing: 1.2px;
}

.company-section{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #000;    
}

.company-section img{
    max-width: 90%;
    max-height: 300px;
}

.company-name{
    padding-top: 10px;
}
  
.actor-section{
    padding-top: 20px;
}

.actor-info{
    display: flex;
    width: fit-content;
    scroll-snap-align: start;
}

.actor-profile{
    max-width: 180px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    scroll-snap-align: start;
    object-fit: scale-down;
    text-align: center;
}

.actor-img{
    width: 50px;
    border-radius: 25%;
}

.character-name{
    font-size: 14px; 
    font-weight: 400;
    padding-top: 8px;   
}

.actor-name{
    font-size: 10px;
    font-weight: 300;
    padding-top: 10px;
}

.glide__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-container{
    position: relative;
}

.glide__arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #373b69;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
  
.glide__arrow--left{
    left: -50px; 
}
  
.glide__arrow--right{
    right: -50px;
}

.glide{
    max-width: 80%;
    padding: 0 10px;
}

.glide__slides{
    display: flex;
    gap: 20px;
}

.glide__slide{
    flex: 1;
}

.movie-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
  
.iframe-container{
    position: relative;
    width: 100%;
    max-width: 85%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
  
.iframe{
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationjs{
    font-family: inherit;
}

.paginationjs-pages li{
    margin: 0 5px;
}

.paginationjs .paginationjs-pages li{
    border: none;
}

.paginationjs .paginationjs-pages li:last-child>a,
.paginationjs .paginationjs-pages li:first-child>a,
.paginationjs .paginationjs-pages li:last-child{
    border-radius: 20px;
    border-right: none;
}

.paginationjs .paginationjs-pages li>a{
    background-color: #22254b;
    border-radius: 20px;
    color: #fff;
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    transition: background-color .4s;
}

.paginationjs .paginationjs-pages li.active>a{
    background-color: #636794;
    border-radius: 20px;
    color: #fff;
    min-width: 38px;
    height: 38px;
    line-height: 38px;
}

.paginationjs .paginationjs-pages li a:hover{
    background: #4c518a;
}


@media (min-width: 1025px) {
    .wrapper{
        -ms-overflow-style: none; 
        scrollbar-width: none;  
    }

    .wrapper::-webkit-scrollbar{
        display: none;
    }
}


@media (max-width: 1024px) {
    /* #page {
        grid-template-areas:
          "head"
          "main";
        grid-template-columns: 1fr;
    } */

    #page{
        display: block;
    }

    #page > .navigation{
        display: none;
    }

    .movie {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .movie-tile{
        font-size: 12px;
    }

    .movie-back{
        padding: 15px;
    }

    .buttonMovie{
        margin-bottom: 5px;
        font-size: 12px;
        padding: 8px 13px;
    }
    
    .overView{
        padding-bottom: 15px;
    }

    .movie-tile:hover .movie-back {
        transform: translateY(100%);
    }

    .menu{
        display: block;
    }

    .navigation{
        box-shadow: none;

    }

    .search{
        display: none;
    }

    #form{
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-top: 15px;
    }

    #form img{
        width: 35px;
        height: 35px;
        padding-left: 10px;
    }

    .menu-search{
        padding: 10px 25px;
        border-radius: 50px;
        background-color: transparent;
        border: 2px solid #373b69;
        font-weight: 700;
        color: #fff;
        font-family: inherit;  
        width: 80%;
    }

    .menu-search::placeholder{
        color: #fff;
    }
    
    .menu-search:focus{
        outline: none;
        background-color: #22254b;
    }

    .slider-button{
        display: none;
    }

    /* #pagination-container{
        display: none;
    } */
 
}

@media (max-width: 800px) {
    .glide{
        width: 90%;
    }

    .caption-div{
        display: block;
    }

    .poster{
        margin: 0 auto;
        max-width: 80%;
        display: block;
        padding-top: 10px;
        border-radius: 15px;
    }

    .main-text{
        width: 100%;
    }

    .text-container{
        text-align: end;
    }

    .actor-section{
        padding: 20px;
    }

   
}




